<div class="row">
    <div  class ="col-lg-3 col-md-4 col-sm-5">
    <form class="form-horizontal">
    <div class="form-group">
        <select class="form-control">
            <option>What do you need someone to do?</option>
            <option>House Cleaning</option>
            <option>Yard Work</option>
            <option>Snow Plowing</option>
            <option>Snow Shoveling</option>
            <option>Lawn Mowing</option>
        </select>
    </div>
    <div class="form-group">
        <a href="#/search" type="submit" class="btn btn-default btn-block">Find Handyman</a>
    </div>
</form>
    </div>
</div>