<nav id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active' : $location.url().indexOf('register') != -1,
                               'hidden' : currentUser() != null}">
                    <a href="#/register">Register</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('login') != -1,
                               'hidden' : currentUser() != null}">
                    <a href="#/login">Login</a></li>
                <li ng-class="{'active' : $location.url().indexOf('profile') != -1,
                               'hidden' : currentUser() == null}">
                    <a href="#/profile">{{currentUser().username}}</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('admin') != -1,
                               'hidden' : !isAdmin()}">
                    <a href="#/admin">Admin</a></li>
                <li ng-class="{'hidden' : currentUser() == null}">
                    <a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
