<div class="col-sm-3 col-md-2 sidebar">
    <nav ng-controller="MainController">
        <ul class="nav nav-sidebar">
            <li ng-class="{'active' : $location.url().indexOf('home') != -1}">
                <a href="#/home">Home</a>
            </li>
            <li ng-class="{'active' : $location.url().indexOf('profile') != -1,
                               'hidden' : currentUser() == null}">
                <a href="#/profile">Profile</a></li>
            <li ng-class="{'active' : $location.url().indexOf('form') != -1,
                               'hidden' : currentUser() == null}">
                <a href="#/forms">Form</a></li>
            <li ng-class="{'active' : $location.url().indexOf('admin') != -1,
                               'hidden' : !isAdmin()}">
                <a href="#/admin">Admin</a></li>
        </ul>
    </nav>
</div>


<ul class="nav navbar-nav navbar-right">

</ul>