<h1 class="page-header">Jobs</h1>
<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th nowrap="nowrap"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Customer</th>
        <th nowrap="nowrap"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Handyman</th>
        <th nowrap="nowrap"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Date</th>
        <th nowrap="nowrap"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Skill</th>
        <th nowrap="nowrap"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Rate</th>
        <th nowrap="nowrap"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Rating</th>
        <th nowrap="nowrap"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Review</th>
        <th nowrap="nowrap"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Action</th>
    </tr>
    <tr>
        <td><input ng-model="job.customer" type="email" class="form-control" placeholder="customer"></td>
        <td><input ng-model="job.handyman" type="email" class="form-control" placeholder="handyman"></td>
        <td><input ng-model="job.date" type="date" class="form-control" placeholder="yyyy-mm-dd"></td>
        <td><select ng-model="job.skill" class="form-control">
            <option value="">---Skill---</option>
            <option>House Cleaning</option>
            <option>Yard Work</option>
            <option>Snow Plowing</option>
            <option>Snow Shoveling</option>
            <option>Lawn Mowing</option>
        </select></td>
        <td><input ng-model="job.rate" type="text" class="form-control" placeholder="rate"></td>
        <td><input ng-model="job.rating" type="text" class="form-control" placeholder="rating"></td>
        <td><input ng-model="job.review" type="text" class="form-control" placeholder="review"></td>
        <td nowrap="nowrap">
            <button ng-click="addJob(job)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            <button ng-click="updateJob(job)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in jobs">
        <td>{{job.customer}}</td>
        <td>{{job.handyman}}</td>
        <td>{{job.date}}</td>
        <td>{{job.skill}}</td>
        <td>{{job.rate}}</td>
        <td>{{job.rating}}</td>
        <td>{{job.review}}</td>
        <td  nowrap="nowrap">
            <button ng-click="removeJob(job)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <button ng-click="selectJob($index)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
        </td>
    </tr>
    </tbody>
</table>